.front_contanier{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.front__view
{   height: 50vh;
    width:50vw;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.search_bar{
    display: flex;
    align-items: center;
    border:solid 0.2px #aca59a;
    border-radius: 60px;
    margin:0.5rem 1rem;
    padding:0 1.5rem;
    

}
.search__bar{
    display: flex;
border:none;
background-color: #181a1b;
outline: transparent;
margin: 0.2rem 1rem;
border-radius: 10px;
padding: 0.5rem 0.5rem;
width:20vw;
}
.search_icon{
    display: flex;
   align-items: center;
   padding-left: 1rem;
   color: #aca59a;
}

.btn{
    background-color: #111313;
    color:#aca59a;
    border: solid 0.2px #aca59a;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius:2px;
    font-weight: 400;
}
.front__context{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    width:40vw;
    color: #aca59a;
}