.bottem_contanier{
    display: flex;
    flex-direction: column;
    background-color: #111313;
    color:#aca59a;
    height: 10vh;
}
.context{
    display: flex;
    margin:1rem 4rem;
}
.context_2
{
    display: flex;
    margin: 0.5rem;
}
ul
{  display: flex;
    flex-direction: row;
    list-style: none;
   
}
li{
    display: flex;
    margin: 0 1rem;
    padding: 0 10px 0 0; 
}
.hori_bar{
    display:  flex;
    border-bottom: solid 1px #aca59a;
}
.right_context{
    display: flex;
    flex-direction: row;
    width: 72vw;
    justify-content: right;
}